<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="http://gregfranko.com/jquery.selectBoxIt.js/js/jquery.selectBoxIt.min.js"></script>
<script src="<@spring.url '/lib/pretty/js/prettyCheckable.min.js' />"></script>
<script src="<@spring.url '/js/default.js' />"></script>
